.container-fluid{
    justify-content: space-between;
    justify-self: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("background.jpg");
}

.container-fluid .row .topnov{
    float: left;
    margin-top:20px;
    margin-left:20px;
    overflow: hidden;
}

.container-fluid .row .topnov a{ 
    float: left;
    background-color: none;
    border-style:solid;
    border-width:2px;
    border-radius:5%;
    border-color:rgb(194, 103, 0);
    color: rgb(194, 103, 0);
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    min-width: 80px;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 20px;
    margin-right:20px;
    font-weight: bold;
}

.container-fluid .row .topnov a:hover{
    background-color: rgb(194, 103, 0);
    color: white;
}

.container-fluid .row .topnov a.active{
    background-color: rgb(194, 103, 0);
    color: white;
}

.container-fluid .row form{
    float: right;
    margin-left:auto;
    margin-top:20px;
    margin-right:20px;
    margin-bottom: 20px;
}

.container-fluid .row form input{
    background-color: none;
    border-style:solid;
    border-width:2px;
    border-radius:5%;
    border-color:rgb(194, 103, 0);
    padding-top:5px;
    padding-bottom: 5px;
    min-width: 200px;
    color: rgb(194, 103, 0);
    background:transparent;
    margin-right:20px;

}

.container-fluid .row form button{
    background-color: none;
    border-style:solid;
    border-width:2px;
    border-radius:5%;
    border-color:rgb(194, 103, 0);
    padding-top:5px;
    padding-bottom: 5px;
    min-width: 100px;
    color: rgb(194, 103, 0);
    background:transparent;
    margin-right:20px;
}

.container-fluid .row form button:hover{
    background-color: rgb(194, 103, 0);
    color:white;
}

#adminPanel{
    position: fixed;
    bottom:0;
    width:100%;
    margin-left: 20px;
}


button{
    background-color: none;
    border-style:solid;
    border-width:2px;
    border-radius:5%;
    border-color:rgb(194, 103, 0);
    padding-top:5px;
    padding-bottom: 5px;
    min-width: 100px;
    color: rgb(194, 103, 0);
    background:transparent;
    margin-right:20px;
    margin-bottom: 20px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(194, 103, 0);
    color:white;
}

#productList{
    border-style:solid;
    border-width: 2px;
    border-radius:none;
    border-color:white;
    text-align: center;
    min-height: 100%;
    max-height: 80vh;
    overflow-y:auto;
}

h1{
    border-bottom: 2px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-style:solid;
    border-color: white;
}

#catalog{
    border-style:solid;
    border-width: 2px;
    border-radius:none;
    border-color:white;
    text-align: center;
    min-height: 100%;
    max-height: 80vh;
    overflow-y:auto;
}

#orderedProducts{
    border-style:solid;
    border-width: 2px;
    border-radius:none;
    border-color:white;
    text-align: center;
    min-height: 100%;
    max-height: 80vh;
    overflow-y:auto;
}

.row{
    text-align:center;
    font-weight: bold;
    color:rgb(194, 103, 0);
}